
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */

main > section{
  margin-top:100px;
}

main{
  max-width:1100px;
  margin:0 auto;
}


nav,header{
 max-width:1100px;
 margin:0 auto;
}

.prim-color{
  color:rgba(233, 90, 8, 0.64)
  
}
.light-color{
  color: rgba(233, 180, 8, 1);

}
.bright-color{
  color: rgba(233, 135, 8, 0.64);
}

.gray-color{
  color: rgba(0, 0, 0, 0.5);
}




/* header related style */

.nav-item{
 list-style:none;
}

.nav-link{
 text-decoration: none;
 color:black;
}
.navbar{
  display: flex; 
  align-items: center;
  justify-content: space-between;

}
nav ul{
  display: flex;
  gap:40px;
}
.brand{
  font-size:2rem;
  font-weight: bold;
}

.flower-title{
  font: size 4.2em;
  font-weight:bold;

}
.flower-container{
  display: flex;
}
.about-flower{
  margin-top:-20px;
  margin:161px 0;
   width:570px; 
  height:299px;
}


.flower-image{
  max-width: 100%;
  width:570px;
  height:335px;

}

/* section plant related style */
.plant{
  text-align: center;
  margin-top:-100px;
}
.plant-title{
  font-size: 3rem;
  font-weight:bold ;
}

/* section plant-card */
.container{
  width:132px;
  height: 52px;
  margin:30px 100px;
}

.flower-name{
  font-size:1.25rem;
  font-weight:500;
}

.price{
  font-size:1.25rem;
  font-weight:bold;
}

.prim-btn{
  width: 270px;
  height:40px;
  padding:10px 10px;
  background-color:rgba(233, 90, 8, 0.64);
  color: white;
  border:none;
  
}



.plant-card{
  width:270px;
  height:480px;
   align-items: center;
  justify-content: center;
  border:2px solid tomato;
  border:none;
}

.rose-container{
  display: grid;
  gap:24px;
  grid-template-columns: repeat(4, 1fr);
  margin-top:50px;
}
/* section 3... */
.imbd-con{
  position: relative;
  display: inline-block;
}
.img-shop{
  width: 100%;
  display: inline-block;
}
.img-badge{
  position: absolute;
  top:-80px;
  right:-80px;
  width:300px;


}
.img-shop{
  
  display: flex;
  gap: 40px;
}
.flower-lover{
  width:100%;
  text-align: center;
  /* height:600px; */
  
}
.love-title{
  font-size:3rem;
  font-weight: bold;
}

/* section 4... */
.latest-title{
  font-size: 2rem;
  font-weight: bold;
}

.latest-con{
  text-align: center;
}

/* section 5 */
.row img{
  width:100%;
  height:100%;
  
}

.row{
  margin-top:250px;
  height:400px;
  display: flex;
  gap:50px;
  
}
.twin-img img{
  height:100%;
  border-radius:10px;
  

}


.row > div{
  flex:1;
  
}
/* flower text */
.image-container{
  position: relative;
  display:inline-block;
}
.image-text{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:white;
  font-size:1.2rem;
  font-weight:bold;
  text-shadow:1px 1px 3px black;
  text-align: center;

}
.zabo img{
  border-radius:10px;

  width:650px;
  
  gap:none;
  
  text-align: center;
}


/* footer */
.footer-div{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

footer{
  max-width:1100px;
  margin:0 auto;
  margin-top:100px;
  justify-content:space-around;
  
  
  
}

li{
  list-style: none;
}

/* sec6 */
.img1-container{
  position: relative;
  width:100%;
  max-width:1100;
  margin: auto;
}

.img1-container img{
  width:100%;
  display: block;
}

.content{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  color: white;

}
.content input{
  border: none;
  padding:10px 100px;
  text-align: start;
  flex:1;
  
}
.btn{
  margin-left:-5px;
  padding:10px 10px;
  flex:1;
  border:none;
  background-color: rgba(233, 90, 8, 1);
}















 




/* Responsive related style */
@media  screen and (max-width: 576px) {
  .home,
  .shop,
  .about{
    
    display: none;
      margin-left:100px;
    
     
    }
    header{
      justify-items: center;
      margin-left:450px;
    }
    .nav-item{
      margin-left:-20px;
    }
   
  
    .flower-container,
    .row
  {
    flex-direction: column;
    justify-content: center;
    /* max-width:576px */
  }

  .row{
    margin-left:100px;
    margin-bottom:500px;
  }

  /* .zabo,.twin-img
    {
    width:400px;
    height:423px;
    justify-items: center;
    
  } */
   .image-container{
    width:576px;
    height:200px;
   }

   

  .plant{
    margin-left:200px;
    
    

   }

  .flower-image{
     order: -1; 
     align-items: center;
    
    }

  .about-flower{
    margin-top:50px;
    margin-left:40px;
    align-items: center;
    text-align: center;
  
    max-width:360px;
  }
  

  

  .rose-container{
     grid-template-columns: repeat(2, 1fr);
     margin-left:50px;
    }
   
  
  
  
  .img-shop{
    flex-direction:column;
    margin-left:80px;
  
  }
  .img-badge{
    display: none;
  }
  .latest-con{
    margin-left:200px;
    text-align: center;


  }
  .img1-container{
    width: 576px;
    min-height: 200px;
    margin-top:-300px;
    margin-left:100px
    
  }
  .footer-div{
    grid-template-columns: repeat(1 ,1fr);
    justify-items: center;
    margin-left:300px;
  }

   
   
   
  
}